
/* Footer
----------------------------------------------- */

.footer {
	background: $gray;
	border-top: 1px solid $light-gray;
	padding: 5px 0 15px;
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
	z-index: 1000;
}

.footer-left {
	p {
		color: $light-gray;
		font-weight: normal;
		letter-spacing: 0.05em;
		text-align: center;
		@include font-size(0.7);
	}
	a {
		color: $light-gray;
		text-decoration: none;
	}
}

.footer-right {
	padding: 0;
	text-align: center;
}

.icon-behance,
.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-pinterest,
.icon-vimeo,
.icon-linkedin {
	fill: $light-gray;
	height: 20px;
	margin-right: 10px;
	transition: all 0.15s ease-in-out;
	width: 20px;
	&:hover {
		fill: $off-white;
	}
}

.icon-behance {
	border-radius: 4px;
}
.icon-youtube {
	fill: $light-gray;
	height: 23px;
	margin-right: 10px;
	position: relative;
	top: 1px;
	transition: all 0.15s ease-in-out;
	width: 23px;
	&:hover {
		fill: $off-white;
	}
}
.icon-linkedin {
	border-radius: 4px;
	margin-right: 10px;
}
